<!DOCTYPE html>
<html lang="en">

    {{> head}}

<body>
    {{> header}}
    
    <main>
        <div class="main-catalogo">
            <div class="catalogo">
                <div class="catalogo-producto">
                    <p class="catalogo-titulo">{{productoNombre}}</p>

                    {{#each producto}}
                    <div class="catalogo-item">
                        <div class="catalogo-item-izq">
                            <img src="./img/Imagen Producto.png" alt="IMAGEN" class="item-logo">
                            <button class="shopping" id="btn_cart" data-id="{{id}}" data-modelo="{{modelo}}" data-tamano="{{tamano}}" data-precio="{{precio}}"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>
                        <div class="catalogo-item-der">
                            <div>
                                <p class="item-titulo">{{this.modelo}}</p>
                                <p class="item-size">{{this.tamano}} GB</p>
                                <p class="item-texto">{{this.descripcion}}</p>
                            </div>
                            <div>
                                <p class="item-precio">U$D {{this.precio}}</p>
                            </div>
                        </div>
                    </div> 
                    {{/each}}
                </div>


                <script>
                    var cartAddButton = document.querySelectorAll("button#btn_cart");
                    cartAddButton.forEach(function(item,idx){
                        item.addEventListener('click', function() {
                            dataCat = "{{productoNombre}}";
                            dataId = item.dataset.id;
                            dataModelo = item.dataset.modelo;
                            dataTamano = item.dataset.tamano;
                            dataPrecio = item.dataset.precio;

                        });
                    });
                </script>


            </div>
        </div>
    </main>
    {{> whatsapp}}
</body>
</html>